# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment
.env
.venv/
env/
venv/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Distribution
dist/
build/
*.egg-info/

# Local development
data/db/*
!data/db/.gitkeep

# Dependency management
poetry.lock  # Mantenemos poetry.lock en el repositorio para reproducibilidad

# Logs
*.log